@import "../../styles/variables.scss";
.signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-bg;
  .container {
    background-color: $soft-color;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-weight: lighter;
      font-size: 30px;
      color: $soft-bg;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      input {
        width: 300px;
        height: 40px;
        margin-top: 10px;
        background-color: transparent;
        border-bottom: 1px solid $soft-bg;
        border-top: none;
        border-left: none;
        border-right: none;
        &:focus{
          outline: none;
        }
      }

      button {
        width: 300px;
        height: 40px;
        border: none;
        background-color: $main-bg;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
      }
      span {
        margin-top: 10px;
        color: red;
        font-size: smaller;
      }
      .signin{
        color: $soft-bg;
      }
    }
  }
}
