.barchart{

  height: 100%;
  width: 100%;

  .barChatInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;

  }

  .barChartBox{
    height: 100%;
    
  }

}