.topbox{
  h1{
    margin-bottom: 20px;
    
  }

  .list{
    .listitems{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .product{

        display: flex;
        gap: 20px;
        align-items: center;
        img{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .productname{
          font-size: 12px;
          font-weight: 500;

        }
      }
      .quantity{
        margin-left:20px ;
      }
    }
  }
}