@import "../../styles/variables.scss";

.newDashboard{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(220px, auto);

  .box{
    // border:2px solid $soft-bg ;
  }
  .box1{
    grid-row: span 1;
    grid-column: span 6;
  }
  .box2{
    grid-row: span 1;
    grid-column: span 3;
  }
  .box3{
    grid-row: span 1;
    grid-column: span 3;
  }
  .box4{
    grid-row: span 1;
    grid-column: span 2;
  }
  .box5{
    grid-row: span 1;
    grid-column: span 4;
  }
}