@import "../../styles/variables.scss";

.salesOrder{
  color: $soft-color;
  display: flex;
  flex-direction: column;
  

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $soft-color;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $soft-bg;
    font-weight: bold;
    align-items: center;
  }

  .dataTable{
    padding: 20px;
  }

}