@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .icon {
      @include sm {
        display: none;
      }
    }

    .user {
      display: flex;
      gap: 5px;
      img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
    }
    .notifications {
      position: relative;

      span {
        background-color: red;
        color: white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }
  }
}
